.Deck {
    margin: 0 1em;
}

.design-label {
    color: #64CA57;
    background: #D7F3D4;

    width: max-content;
    border-radius: 50px;
    padding: 0 .6em;
    margin-bottom: -4%;
}

.design-label-hover {
    color: #FFFFFF;
    background: #64CA57;
    box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    width: max-content;
    border-radius: 50px;
    padding: 0 .6em;
    margin-bottom: -4%;
}

.education-label {
    color: #FFA800;
    background: #FFF0D2;

    width: max-content;
    border-radius: 50px;
    padding: 0 .6em;
    margin-bottom: -4%;
}

.education-label-hover {
    color: #FFFFFF;
    background: #FFA800;
    box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    width: max-content;
    border-radius: 50px;
    padding: 0 .6em;
    margin-bottom: -4%;
}

.service-label {
    color: #FF0000;
    background: #FFD9D9;

    width: max-content;
    border-radius: 50px;
    padding: 0 .6em;
    margin-bottom: -4%;
}

.service-label-hover {
    color: #FFFFFF;
    background: #FF0000;
    box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    width: max-content;
    border-radius: 50px;
    padding: 0 .6em;
    margin-bottom: -4%;
}

.tech-label {
    color: #065BFF;
    background: #E5EEFF;

    width: max-content;
    border-radius: 50px;
    padding: 0 .6em;
    margin-bottom: -4%;
}

.tech-label-hover {
    color: #FFFFFF;
    background: #065BFF;
    box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    width: max-content;
    border-radius: 50px;
    padding: 0 .6em;
    margin-bottom: -4%;
}

.Deck .desc-list .date {
    font-weight: 300;
    font-style: italic;
}

h4 {
    line-height: 2em;
}

ol {
    list-style: none !important;
    font-weight: 400;
    line-height: .6em;
    padding: 0 5%;
    margin-top: 0;

    display: inline-block;
    white-space: nowrap;
    overflow-x: auto;
}