@media only screen and (max-width: 768px) {
    /* Mobile screens */
    .Bio-text {
        display: flex;
        flex-direction: column-reverse;
    }

    .Bio img {
        margin: 0 20%;
        width: 12em !important;
    }
}

.Bio {
    text-align: left;
    margin-bottom: 5%
}

.Bio-body {
    padding-right: 10%;
}

.Bio-header {
    margin-bottom: 8%;
}

.Bio-text {
    display: flex;
} 

.Bio img {
    width: 15em;
}