.Bio {
    text-align: left;
    margin-bottom: 5%
}

.Bio-body {
    margin-right: 10%;
    padding-top: 5%;
}

.Bio-header {
    margin-bottom: 5%;
}

.Bio-text {
    display: flex;
} 

.Bio img {
    width: 18em;
}

@media only screen and (max-width: 768px) {
    /* Mobile screens */
    .Bio-text {
        display: flex;
        flex-direction: column-reverse;
    }

    .Bio-img {
        position: relative;
        left: 22%;
    }

    .Bio img {
        width: 15em;
    }
}