.Title {
    align-self: baseline;
    padding-top: 120px;
    padding-bottom: 120px;
}

.Title-subtitle {
    font-size: 20px;
    font-weight: bold;
}

.Title-header {
    font-size: 60px;
}

.Title-subheader {
    font-size: 20px;
    font-weight: lighter;
}