.Title-container {
}

.Title-header {
    display: none;
}

.Title-subheader {
    text-align: center;
}

.Title-grids {
  position: relative;
  max-width: 100%;
  top: -8%;
}

@media only screen and (max-width: 600px) {
  .Title-header {
    display: flex;
    align-self: center;
  }
  .Title-grids {
    display: none;
  }
}
