.Skills {
    width: 100%;
    margin-bottom: 8%;
}

.Skills-header {
    margin-bottom: 8%;
}

.Skills-img-1 {
    width: 100%;
    height: 100%;   
}

.Skills-img-1 svg {
    margin: 20% 0;
}

.Skills-img-2 {
    width: 125%;
    height: 100%;   
    margin-top: 8%;
}

.Skills-img-3 {
    width: 100%;
    height: 100%;   
    margin-top: 4%;
}

.Skills-row {
    display: flex;
    margin: 8% 8%;
}

.Skills-text-1 {
    margin-left: 13%;
}

.Skills-text-2 {
    margin-left: 10%
}

.Skills-text-3 {
    margin-left: 9%;
}

@media screen and (max-width: 768px) {
    /* Mobile screens */
    .Skills-row {
        flex-direction: column;
        margin: 10% 0;
    }

    .Skills-img-1 svg {
        padding: 0 25%;
        margin: 10% 0;
    }

    .Skills-img-2 {
        width: 50%;
        margin-left: 25%;
    }

    .Skills-img-3 {
        width: 60%;
        margin-left: 18%;
        margin-top: 0;
    }

    .Skills-text-1 {
        margin-left: 0;
    }

    .Skills-text-2 {
        margin: 10% 0;
    }

    .Skills-text-3 {
        margin-top: 5%;
        margin-left: 0;
    }
}