
.Card {
    margin-bottom: 5%;
}

.Card-list {
    padding-left: 0;
}

.Card-list .title {
    font-weight: bold;
}

.Card-list .date {
    font-style: italic;
}

.Card-list .description {
    white-space: pre-line;
    line-height: 1.4em;
    font-weight: 300;
}

.Card-btn {
    color: #000000;
    background: #FFFFFF;
    border: 3px solid #000000;
    font-weight: bold;

    width: max-content;
    border-radius: 50px;
    padding: .3em .6em;
}

.Card-btn-hover {
    color: #FFFFFF;
    background: #000000;
    border: 3px solid #000000;
    font-weight: bold;

    cursor: pointer;
    width: max-content;
    border-radius: 50px;
    padding: .3em .6em;
}