.Contacts {
    align-self: baseline;
    padding-bottom: 120px;
}

.Contacts-header {
    font-size: 30px;
    font-weight: bold;
}

.Contacts-list {
    font-size: 20px;
    font-weight: lighter;
    list-style-type: none;
}

li {
    padding: 8px 0;
}

ul > li:nth-child(1) {
    margin-top: 10px;
    list-style: "📧   ";
    list-style-position: outside;
}
ul > li:nth-child(2) {
    margin-top: 10px;
    list-style: "💼   ";
    list-style-position: outside;
}
ul > li:nth-child(3) {
    margin-top: 10px;
    list-style: "🤓   ";
    list-style-position: outside;
}