.Contacts {
    align-self: baseline;
}

.Contacts-header {
    font-size: 30px;
    font-weight: bold;
}

.Contacts-list {
    list-style-type: none;
}

.Row-2 {
    width: 50%;
    display: flex;

    font-weight: 300;
    font-size: 18px;
    line-height: 1.4em;
}

.footer-image {
    position: absolute;
    width: 70%;
    right: 6%;
}

a {
    text-decoration: none;
    color: black;
}

li {
    padding: 8px 0;
    font-weight: 400;
}

ul > li:nth-child(1) {
    list-style: "📧   ";
    list-style-position: outside;
}
ul > li:nth-child(2) {
    list-style: "💼   ";
    list-style-position: outside;
}
ul > li:nth-child(3) {
    list-style: "🤓   ";
    list-style-position: outside;
}